body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

#logo-image {
    margin-left: 20px;
    height: 80px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f7f7f7;
}

#bus-info {
    display: flex;
    justify-content: space-evenly;
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
    animation: slideDown 0.5s ease;
}

#route-table {
    flex-grow: 1;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
#map-container {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
#table {
    flex-basis: 30%;
    padding: 0px 20px 0px 20px;
    background-color: #ffffff;
    border-right: 1px solid #dddddd;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    text-align: center;
    animation: slideRight 0.5s ease;
}
#map {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
table {
    width: 100%;
    border-collapse: collapse;
    padding: 0px 20px 0px 20px;
}
thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
thead h1 {
    position: sticky;
    top: 0;
    z-index: 1;
}
tbody {
    
    overflow-y: auto; 
    max-height: inherit;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
th {
    font-size: small;
    background-color: #f2f2f2;
}
iframe {
    height: 96%;
    width: 100%;
}

.marquee {
    margin-bottom: 6px;
    font-family: "Poppins", sans-serif;
    color: white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    background-color: black;
}

.marquee span {
    display: inline-block;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    #route-table {
        flex-direction: column;
        overflow: visible;
    }
    #map {
        overflow: auto;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}